.Carousel {
  height: 85%;
  padding-bottom: 0.5rem;
  width: 100%;
  position: relative;
  outline: none;
}

.button {
  position: absolute;
  top: 50%;
  z-index: 200;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 30%;
  border: none;
  opacity: 0.3;
  font-size: 2rem;
  background: rgb(189, 186, 186);
  outline: none;
}

.button:hover,
.button:active {
  opacity: 1;
}

.prev {
  left: 16px;
}

.next {
  right: 16px;
}
